In [1]:
import pandas as p

In [6]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

ser3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int32

In [7]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [10]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
comb = pd.concat([ser1,ser2])
comb

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

In [11]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [17]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [18]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
pd.Series(np.union1d(ser1, ser2))s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [27]:
ser = pd.Series(np.random.normal(10, 5, 25))
#pd.Series.min(ser)
#pd.Series.max(ser)
#pd.Series.mean(ser)
#pd.Series.quantile(ser,.75)
#pd.Series.quantile(ser,.25)

In [74]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
pd.Series.value_counts(ser)

g    8
c    6
h    5
d    5
a    3
e    2
b    1
dtype: int64

In [75]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  9  6  2  6  5
1  5  2  4  7  1
2  4  9  6  2  6
3  1  6  1  1  4
4  4  9  7  9  8
5  6  5  3  2  9
6  1  7  7  2  1

In [81]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser %3 ==0)

0    3
1    3
2    2
3    1
4    3
5    4
6    4
dtype: int32

ValueError: Length of values (1) does not match length of index (7)

In [84]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [87]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1.append(ser2)
df = pd.concat([ser1, ser2], axis=1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [89]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [90]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.24741483155712304

In [105]:
ser = pd.Series(['how', 'to', 'kick', 'ass?']
pd.Series.mapmap(lambda x: x.title())

SyntaxError: invalid syntax (Temp/ipykernel_15728/3968279212.py, line 2)

In [101]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
pd.Series.str.count(ser)

AttributeError: 'Series' object has no attribute '_inferred_dtype'

In [69]:
ser = pd.Series(np.random.random(20))
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1],
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    5th
1    5th
2    8th
3    8th
4    2nd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']