## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range (100),80)
sample_list_1

[20,
 7,
 66,
 95,
 53,
 28,
 78,
 34,
 79,
 69,
 45,
 29,
 92,
 2,
 58,
 94,
 25,
 33,
 11,
 80,
 70,
 39,
 43,
 71,
 18,
 88,
 57,
 35,
 86,
 44,
 87,
 98,
 27,
 40,
 41,
 3,
 48,
 22,
 75,
 55,
 24,
 6,
 9,
 74,
 65,
 93,
 96,
 47,
 84,
 61,
 46,
 68,
 73,
 82,
 49,
 17,
 15,
 0,
 23,
 12,
 59,
 36,
 64,
 63,
 72,
 19,
 21,
 54,
 37,
 42,
 51,
 30,
 10,
 56,
 8,
 85,
 31,
 81,
 76,
 62]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
set1
len(set1)

yes

NameError: name 'yes' is not defined

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 =[]
for x in range(0, 80):
    sample_list_2.append(random.randint(0, 100))
print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
len(sample_list_2)
set2 = set(sample_list_2)
len(set2)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1-set2
set3

{0,
 6,
 10,
 11,
 12,
 27,
 28,
 30,
 31,
 34,
 36,
 40,
 41,
 42,
 44,
 45,
 47,
 48,
 49,
 51,
 54,
 56,
 57,
 61,
 62,
 65,
 69,
 73,
 74,
 78,
 79,
 80,
 82,
 84,
 86,
 88,
 94,
 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2-set1
set4

{5, 14, 26, 38, 60, 77, 83, 89, 91, 97, 99, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1 & set2
set5

{2,
 3,
 7,
 8,
 9,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 29,
 33,
 35,
 37,
 39,
 43,
 46,
 53,
 55,
 58,
 59,
 63,
 64,
 66,
 68,
 70,
 71,
 72,
 75,
 76,
 81,
 85,
 87,
 92,
 93,
 95,
 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [15]:
if len(set1)> len(set2)>len(set5)>len(set3)>len(set4):
    print("True")

True

#### Create an empty set called `set6`.

In [16]:
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [17]:
set6.update(set3,set5)
set6

{0,
 2,
 3,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 92,
 93,
 94,
 95,
 96,
 98}

#### Check if `set1` and `set6` are equal.

In [18]:
set1 == set2
#no

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
set2.issubset(set1) #no
set3.issubset(set1) #yes

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [20]:
set3.union(set4,set5)
set1.union(set2)

if set3.union(set4,set5)== set1.union(set2):
    print('True')

True

#### Using the `pop` method, remove an element from `set1`.

In [21]:
set1.pop
set1

{0,
 2,
 3,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 92,
 93,
 94,
 95,
 96,
 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [37]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for a in set1:
    if set1 == list_to_remove:
        set1 - list_to_remove
set1

[0,
 2,
 3,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 92,
 93,
 94,
 95,
 96,
 98]